.container{
    border-radius: 14px;
    border: 1px solid black;
    padding: 14px 20px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 2rem;
    width: 60%;
    place-self: center;
    background-color: rgb(186, 128, 58);
}

.header{
    display: flex;
   justify-content: space-between; 
}


.submit-button{
    border-radius: 5px;
    width: auto;
    cursor: pointer;
    place-content: center;
    text-align: center;
    width: 35%;
    margin-top: 10px;
    height: 25px;
    margin-inline: auto;

}