.task-card {
    background-color: #A3C6C4;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
}

.task-card-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.task-card-preview {
    display: grid;
    width: 55vw;
    
}

.task-text-container {
    overflow-y: auto;
    width: 85%;
    height: 10rem;
    margin: auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    
}